<main>
    <app-product [image]="products[0].image" [titleText]="products[0].titleText"></app-product>
    <app-product [image]="products[1].image" [titleText]="products[1].titleText"></app-product>
    <app-product [image]="products[2].image" [titleText]="products[2].titleText"></app-product>
    <app-product [image]="products[3].image" [titleText]="products[3].titleText"></app-product>
    <app-product [image]="products[4].image" [titleText]="products[4].titleText"></app-product>
    <app-product [image]="products[0].image" [titleText]="products[0].titleText"></app-product>
    <app-product [image]="products[1].image" [titleText]="products[1].titleText"></app-product>
    <app-product [image]="products[2].image" [titleText]="products[2].titleText"></app-product>
    <app-product [image]="products[3].image" [titleText]="products[3].titleText"></app-product>
    <app-product [image]="products[4].image" [titleText]="products[4].titleText"></app-product>
  </main>
  